button{
    background-color: dodgerblue;
    color: white;
    border: none;
    padding: 10px 17px;
    border-radius: 4px;
    margin-top: 20px;
}
input{
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 6px 12px;
    width: 250px;
}

html, body{
    display: flex;
    justify-content: center;
    text-align: center;
}